$colors:(
    /*Custom Colors*/
    backgroundColor:#F5F6FA,
    lightcolor:#B8C5D3,
    greenColor:#29CB97,
    lightContColor:#8699AD,

    /*CBRE Colors*/
    cbreDarkGrey:#333333,
    cbreDarkGrey2:#444444,
    mediumGrey:#818A8F,
    cbreLightGrey:#cccccc,
    lighterGrey:#dfdfdf,
    lightestGrey:#f1f1f1,
    lightestGrey_2:#f7f7f7,
    whiteColor: #ffffff,
    blackColor:#000000, 
)